<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <footer>
        

        <section id="name">
            <h1>Gitan Elyon</h1>
            <h2>Mandell-Balogh</h2>
        </section>
        <section id="socials">
            <p>
                <!-- <a href="https://leetcode.com" target="_blank"><i class="fas fa-code"></i></a> -->
                <!-- <a href="https://stackoverflow.com" target="_blank"><i class="fab fa-stack-overflow"></i></a> -->
                <a href="https://www.youtube.com" target="_blank"><i class="fab fa-youtube"></i></a>
                <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://discord.gg/kTzKSUcdZ6" target="_blank"><i class="fab fa-discord"></i></a>
                <a href="https://ko-fi.com" target="_blank"><i class="fas fa-coffee"></i></a>
                <a href="https://github.com" target="_blank"><i class="fab fa-github"></i></a>
              </p>
        </section>

        <div id="divider" class="vertical-line"></div>

        <section id="contact">
            <h3>Contact</h3>
            <p><i class="fas fa-envelope"></i> email: gitanelyon@gmail.com</p>
            <p><i class="fas fa-phone"></i> phone: 443-224-8540</p>
            <p><i class="fas fa-map-marker-alt"></i> address: 904 Adana Rd</p>
            <p><i class="fas fa-city"></i> city: Baltimore, MD</p>
        </section>

        <section id="thanks">
            <h3>Special Thanks</h3>
            <p>Bailey Williams</p>
            <p>Amiel Mandell</p>
            <p>Pamela Mandell</p>
            <p>Balage Balogh</p>
        </section>
        <!-- <section id="logo">
            <h1>Resume Download</h1>
        </section> -->
    </footer>
</body>
</html>