<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <footer>
        <section id="socials">
            <!-- logo ball -->
            <p>LinkedIn, Leetcode, Stack Overflow, YouTube, Discord, Kofi, GitHub</p>
        </section>
        <section id="name">
            <h1>Gitan Elyon</h1>
            <h2>Mandell-Balogh</h2>
        </section>
        <div id="divider"></div>
        <section id="contact">
            <h1>Contact</h1>
            <p>gitanelyon@gmail.com</p>
            <p>443-224-8540</p>
            <p>904 Adana Rd</p>
            <p>Baltimore, MD</p>
        </section>
        <section id="thanks">
            <h1>Special Thanks</h1>
            <p>Bailey Williams</p>
            <p>Amiel Mandell</p>
            <p>Pamela Mandell</p>
            <p>Balage Balogh</p>
        </section>
        <section id="logo">
            <h1>Resume Download</h1>
        </section>
    </footer>
</body>
</html>