<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="/styles/projects.css">
</head>
<body>
    <div class="content"></div>
        <div id="project-nav">
            <img src="/project_icons/yawma.png" alt="YAWMA" class="logo yawma" title="YAWMA">
            <img src="/project_icons/catalyst.png" alt="Catalyst" class="logo catalyst" title="Catalyst">
            <img src="/project_icons/geode.png" alt="Geode" class="logo geode" title="Geode">
            <img src="/project_icons/agora.png" alt="Agora" class="logo agora" title="Agora">
            <img src="/project_icons/aqueduct.png" alt="Aqueduct" class="logo aqueduct" title="Aqueduct">
            <!--
            <a href="#yawma" class="logo yawma">YAWMA</a>
            <a href="#catalyst" class="logo catalyst">Catalyst</a>
            <a href="#geode" class="logo geode">Geode</a>
            <a href="#agora" class="logo agora">Agora</a>
            <a href="#aqueduct" class="logo aqueduct">Aqueduct</a>
            -->
        </div>
        <div class="project">
            <h2>YAWMA</h2>
            <p><strong>Blurb:</strong> Yet Another Workload Management App</p>
            <p><strong>Description:</strong> An intuitive app to manage your daily tasks, projects, and responsibilities, all while looking out for your mental health.</p>
        </div>
        <div class="project">
            <h2>Catalyst</h2>
            <p><strong>Blurb:</strong> Accelerate Rust Development</p>
            <p><strong>Description:</strong> A simple IDE built with Tauri, to help speed up the development of Rust-based projects. Made by Rust devs for Rust devs.</p>
        </div>
        <div class="project">
            <h2>Geode</h2>
            <p><strong>Blurb:</strong> Crack open binaries and find the gems inside</p>
            <p><strong>Description:</strong> A binary analysis tool and hex dumper to help you understand the inner workings of compiled code. All built with Tauri using the KISS design philosophy.</p>
        </div>
        <div class="project">
            <h2>Agora</h2>
            <p><strong>Blurb:</strong> Secure chatting for open discussion</p>
            <p><strong>Description:</strong> A large-scale real-time chat app where you can discover, debate, and discuss ideas, games, and anything else with people all around the world, all while free of surveillance.</p>
        </div>
        <div class="project">
            <h2>Aqueduct</h2>
            <p><strong>Blurb:</strong> Analyze the flow of HTTP packets</p>
            <p><strong>Description:</strong> A tool to help you understand the flow of HTTP packets in a network, all while being able to see the raw data in a human-readable format.</p>
        </div>
    </div>
</body>
</html>