<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="content">
        <h1>Skills</h1>
        <div class="skill-category">
            <h2>Languages</h2>
            <p>Java, Python, Javascript, Rust, C, C++, C#, Typescript, HTML, CSS</p>
        </div>
        <div class="skill-category">
            <h2>Frameworks</h2>
            <p>Electron, Tauri, Svelte, Dioxus, Bun, Node, SurrealDB</p>
        </div>
        <div class="skill-category">
            <h2>Tools</h2>
            <p>Git, Docker, AWS, Bash, Blender, Fusion, Adobe Suite, Linux, Ghidra, Ida Pro</p>
        </div>
    </div>
</body>
</html>