<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills</title>
    <link rel="stylesheet" href="/styles/skills.css">
</head>
<body>
    <div class="content">
        <h1>Skills</h1>
        <div class="skill-category">
            <h2>Languages</h2>
            <div class="skills">
                <img src="/icons/java.svg" alt="Java" class="logo java" title="Java">
                <img src="/icons/python.svg" alt="Python" class="logo python" title="Python">
                <img src="/icons/javascript.svg" alt="JavaScript" class="logo javascript" title="JavaScript">
                <img src="/icons/rust.svg" alt="Rust" class="logo rust" title="logo Rust">
                <img src="/icons/c.svg" alt="C" class="logo c" title="C">
                <img src="/icons/cplusplus.svg" alt="C++" class="logo cplusplus" title="C++">
                <img src="/icons/csharp.svg" alt="C#" class="logo csharp" title="C#">
                <img src="/icons/typescript.svg" alt="TypeScript" class="logo typescript" title="TypeScript">
                <img src="/icons/html.svg" alt="HTML" class=" logo html" title="HTML">
                <img src="/icons/css.svg" alt="CSS" class="logo css" title="CSS">
                <img src="/icons/tailwind.svg" alt="TAILWIND" class="logo tailwind" title="Tailwind">
            </div>
        </div>
        <div class="skill-category">
            <h2>Frameworks</h2>
            <div class="skills">
                <img src="/icons/electron.svg" alt="Electron" class="logo electron" title="Electron">
                <img src="/icons/tauri.svg" alt="Tauri" class="logo tauri" title="Tauri">
                <img src="/icons/svelte.svg" alt="Svelte" class="logo svelte" title="Svelte">
                <img src="/icons/vue.svg" alt="Vue" class="logo vue" title="Vue">
                <img src="/icons/dioxus.svg" alt="Dioxus" class="logo dioxus" title="Dioxus">
                <img src="/icons/bun.svg" alt="Bun" class="logo bun" title="Bun">
                <img src="/icons/node.svg" alt="Node" class="logo node" title="Node">
                <img src="/icons/surrealdb.svg" alt="SurrealDB" class="logo surrealdb" title="SurrealDB">
            </div>
        </div>
        <div class="skill-category">
            <h2>Tools</h2>
            <div class="skills">
                <img src="/icons/vscode.svg" alt="VS Code" class="logo vscode" title="VS Code">
                <img src="/icons/vim.svg" alt="Vim" class="logo vim" title="Vim">
                <img src="/icons/jetbrains.svg" alt="Jetbrains" class="logo jetbrains" title="jetbrains">
                <img src="/icons/git.svg" alt="Git" class="logo git" title="Git">
                <img src="/icons/docker.svg" alt="Docker" class="logo docker" title="Docker">
                <img src="/icons/aws.svg" alt="AWS" class="logo aws" title="AWS">
                <img src="/icons/bash.svg" alt="Bash" class="logo bash" title="Bash">
                <img src="/icons/blender.svg" alt="Blender" class="logo blender" title="Blender">
                <img src="/icons/adobe.svg" alt="Adobe Suite" class="logo adobe" title="Adobe Suite">
                <img src="/icons/linux.svg" alt="Linux" class="logo linux" title="Linux">
                <img src="/icons/ghidra.svg" alt="Ghidra" class="logo ghidra" title="Ghidra">
                <img src="/icons/idapro.png" alt="Ida Pro" class="logo idapro" title="Ida Pro">
            </div>
        </div>

        
    </div>
</body>
</html>